@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LTMuseum';
  src: url('./assets/fonts/LTMuseum/bold.woff2') format('woff2');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(7, 18, 26);
  color: #F0E6D2
}

@layer utilities {
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

/* Styles globaux pour le corps du document et le texte en code */
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
