@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-image-container {
  height: 400px; /* ou la hauteur que vous souhaitez fixer */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* pour éviter le débordement de l'image */
}

.carousel-container .carousel-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* pour conserver les proportions de l'image */
}

@layer utilities {
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }
}

/* Styles globaux pour le corps du document et le texte en code */
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
